
#icon {
    width: 50%;
    border-radius: 10px;
    border: solid black 0.2vw;
}

#info {
    font-size: 1.5vw;
    outline: solid black;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    width: 20%;
    height: 100%;
    display:inline;
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 0%;
    margin: 0px;
    padding: 0px;
    background-color: rgba(120, 120, 120, 0.5);
}

body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
  }
  
#cy {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}